.colorfy, .navbar-inverse, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #4ECDC4;
    color: #000080;
  }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
    background-color: #C7F464;
    color: #000080;
}
h3 ,.navbar-inverse .navbar-brand{
  color: #556270;
}
p{
  color: #556270;
}


html,
body { 
	height: 100%; 
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { 
	height: 100%; 
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }