.navbar-inverse{
    background-color: #C0D890;
}
.navbar-inverse li a {
	color: white;
}

html,
body { 
	height: 100%; 
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { 
	height: 100%; 
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }