<div class="container">
<h2>About Us</h2>
<p>Highland Montessori is small preschool located in a quiet residential area in north San Mateo near the Burlingame border. We are licensed for 20 children and accept ages 3 - 5 years old (younger children may be accepted if they demonstrate developmental readiness). Our doors have been open since 1982 when Cecilia Boland-Walsh first opened the school. Since our school takes place in a home setting, our environment is very unique. We are able to provide our students with the perfect blend of a nurturing home setting and a stimulating educational environment.</p>

<p>Our staff is passionate and dedicated to the philosophy of Dr. Maria Montessori, we believe that “within every child is the person they are to become”. Our school is much more successful when our teachers take a progressive approach to their own continued learning. We are part of the Bay Area Montessori Association, and our staff is required to attend Montessori workshops and child development seminars to expand our knowledge of education in the modern world.</p>

<p>The prepared environment of our Montessori program gives the child the opportunity and the freedom to achieve their potential. Using specially constructed hands-on manipulative materials, the Highland Montessori Curriculum covers several academic areas that are developmentally appropriate. Within a context of self-motivation and self-discipline, children are presented activities in the following major curriculum areas: practical life, sensorial, math, language, science and geography, music and movement, and art.</p>

<p>Our activities and routines are planned with a child’s sensitive periods and internal drives in mind, and are designed with internal controls of error so the need for adult correction becomes minimal. This allows the children to develop at their own pace; allowing them to develop concentration, self-discipline, self-motivation and self-confidence.</p>

<img src="./../../images/staffPhoto.jpeg" class="img-rounded img-responsive">
<br>

<div class="clearfix">
	<img src="./../../images/alisonOttenweller.jpeg" class="img-circle pull-left col-lg-3 col-md-4 col-sm-6 col-xs-12">

	<h4>Alison Ottenweller (Director)</h4>

	<p>Ms. Ottenweller has been teaching in various preschool and Kindergarten programs on the Peninsula for over 15 years. Being a Montessori graduate herself, she has a unique and special appreciation for the teaching practices and child development philosophies of Maria Montessori.</p>

	<p>Her Montessori background, combined with her experience in academic and play-based programs, contributes to Highland Montessori's unique and well-rounded curriculum.</p>

	<p>In addition to teaching, Ms. Ottenweller has a passion for cooking, loves to take her dog on hikes and backpacking trips, enjoys skiing in the winter, and water activities in the summer.</p>

	<em>"My passion in life is working with children and watching them learn new concepts as they grow into their own individual. My goal is to instill in them a curiosity and love of learning that will last a lifetime." </em>
</div>
<div class="clearfix">
	<img src="./../../images/mollyWalsh.jpeg" class="img-circle pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Molly Walsh (co-owner/assistant director)</h4>

	<p>Miss Walsh has been teaching at Highland Montessori for over five years, but her connection to the school began long before that. Highland was started by her mother (the original Mrs. Walsh) in 1982. Molly grew up spending summers and everyday after school helping her mom, working with children, and getting to know the Highland community. Miss Walsh is now finishing up her degree in Child and Adolescent Development at San Francisco State University with plans to start her master's degree in child development immediately after.</p>

	<em>“Highland Montessori is very special to me for so many reasons, I cannot imagine an environment more perfect for fostering academic, social, and emotional confidence in children. I am extremely proud of our team of teachers and know that my mom would be too.”</em>
</div>

<div class="clearfix">
	<img src="./../../images/jenniferGregoire.jpeg" class="img-circle pull-left col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Ms. Gregoire</h4>
	<p>Ms. Gregoire has been working in various schools and programs along the Peninsula for over 10 years. Along with her academic achievements in early childhood education, and previous experience in Montessori settings, Ms Gregoire also brings with her an extensive training in musical theatre and performing arts. She attributes her love of working with children to her mother, who has been in the field for over 30 years! She is so happy to be a part of the Highland team!<p>

	<p>In addition to her love of teaching, Ms. Gregoire’s passions include singing, theatre, film, spending time with her five rescued pets, outdoor adventures, traveling, and being with family.<p> 
	
	<em>“My strength as an educator has always been in fostering the social and emotional development of my students. It is so rewarding to watch each child find their confidence and build a strong set of social skills that will help them long after they leave here.”</em> 
	<p>-Jennifer</p>
</div>

<div class="clearfix">
	<img src="./../../images/rosieSanchez.jpeg" class="img-circle pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Ms. Rosie</h4>

	<p>Lorem ipsum dolor sit amet, ut labitur efficiantur his, impetus voluptua suavitate eu ius. No esse vidit cum, populo sadipscing contentiones per id, dicat mandamus hendrerit sed at. Ex usu mucius voluptatum comprehensam, mea in agam commune, te elit duis dissentias nec. Cu magna facilisi mel, dolor antiopam his id. Ad errem discere impedit qui. Eos cu dicunt sensibus periculis.</p>

	<p>Ius ut dolorem eligendi assueverit, ei ridens cetero nec. Et disputando appellantur mel. Sit no aeterno quaerendum. Mei unum primis nusquam ad, essent postulant mei et, illum cetero pericula eu pro. Est at civibus eloquentiam, his no utroque laoreet voluptua. Vivendo molestiae at usu. Id libris dolorem eos, mea congue assueverit an, agam aliquam urbanitas ne his.</p>

	<em>"Velit blandit eu eos. In usu posse graece repudiare. Ius tota dictas incorrupte in, at falli discere sit. Ad nec ludus saepe minimum, propriae fabellas ei nec, ex definiebas consectetuer eos. Animal nominati sea ea, at omnis solet graece his. Per at veri dignissim."</em>
</div>

</div>


