<div class="container">
	<h2>Highland Montessori Admissions Process</h2>

	<br>

	<h5>1. Schedule a Parent Visit</h5>

	<p>We invite you to come to our school for an informational tour with the director. This is an opportunity for you to tour the classrooms, learn about our school's philosophy and program and determine if we are a good match for your family. In order to ensure that we can give you our full attention without frustrating or boring your child, we recommend that children not attend this meeting.  Please be advised that all tours are by appointment only.</p>

	<br>

	<h5>2. Submit an Application</h5>

	<p><a href="#">Complete the application form</a> and submit the application processing fee. The fee is non-refundable and does not guarantee a space.</p>

	<br>

	<h5>3. Schedule a Child Visit</h5>

	<p>Once the application has been completed, we will schedule a visit with your child at school.</p>

	<p>During the Child Visit we will do a very informal observational assessment to determine readiness. Read more about our readiness guidelines <a href="#">here</a>.</p>

	<br>

	<h5>4. Addmissions Decision and Enrollment Contracts:</h5>

		<p>Admissions decisions are based on a variety of factors including the following:</p>
			<ul>
				<li><a href="#">Developmental readiness</a> of the child</li>
				<li>Parent Commitment</li>
				<li>Date of Application</li>
			</ul>
		<p>If a space is offered, the enrollment contract and deposit will be due within two weeks to hold your space.  If space is unavailable, you may choose to be placed on the waiting-list.</p>
</div>

	