<div class="container">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<h1 class="text-center">Events and Calendar</h1>

		<h2>2016-2017 Calendar</h2>

		<p>Highland Montessori follows the San Mateo public school calendar.</p>

		<p> <span class="text-danger">Red = Closed</span> | <span class="text-success">Green = Events</span> |  <span class="text-primary">Blue = Early Dismissal Days &#38; Late Start Days</span</p>
		
		<div class="table-responsive">
			<table class="table table-hover"">
				<tbody>
					<tr>
						<td colspan="2">
							<h3><strong>2016</strong></h3>
						</td>
					</tr>
					<tr>
						<td>August 29</td>
						<td class="text-right">Fall 2016 Semester Begins</td>
					</tr>
					<tr class="text-danger">
						<td>September 5<br /></td>
						<td class="text-right">Labor Day</td>
					</tr>
					<tr class="text-success">
						<td>September 14<br /></td>
						<td class="text-right">Back to School Night (Parents Only 6 pm - 8 pm)</td>
					</tr>
					<tr class="text-success">
						<td>September 23<br /></td>
						<td class="text-right">Picture Day (9 am)</td>
					</tr>
					<tr class="text-danger">
						<td>October 10<br /></td>
						<td class="text-right">Columbus Day</td>
					</tr>
					<tr class="text-primary">
						<td>October 21<br /></td>
						<td class="text-right">United Nations Dinner (3:30 dismissal)</td>
					</tr>
					<tr class="text-success">
						<td>October 26</td>
						<td class="text-right">Arata Farms Field trip (9:30 am)</td>
					</tr>

					<tr class="text-primary">
						<td>October 31<br /></td>
						<td class="text-right">Halloween (3:30 dismissal)</td>
					</tr>
					<tr class="text-primary">
						<td>November 1</td>
						<td class="text-right">Pizza Lunch (12:30 arrival)</td>
					</tr>
					<tr class="text-danger">
						<td>November 10</td>
						<td class="text-right">Staff Development Day</td>
					</tr>
					<tr class="text-danger">
						<td>November 11</td>
						<td class="text-right">Veteran's Day</td>
					</tr>
					<tr class="text-success">
						<td>November 14-16</td>
						<td class="text-right">Family Teacher Conferences</td>
					</tr>
					<tr class="text-primary">
						<td>November 23</td>
						<td class="text-right">Thanksgiving Lunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>November 14 - 25</td>
						<td class="text-right">Thanksgiving Break</td>
					</tr>
					<tr class="text-primary">
						<td>December 23</td>
						<td class="text-right">Winter Performance (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>December 23 - January 9</td>
						<td class="text-right">Winter Break (resume Tuesday, January 10)</td>
					</tr>
					<tr>
						<td colspan="2">
						<h3><strong>2017</strong></h3>
						</td>
					</tr>
					<tr class="text-danger">
						<td>January 16</td>
						<td class="text-right">Martin Luther King Day</td>
					</tr>
					<tr class="text-danger">
						<td>February 20</td>
						<td class="text-right">Presidents Day</td>
					</tr>
					<tr class="text-danger">
						<td>March 10</td>
						<td class="text-right">Staff Development Day</td>
					</tr>
					<tr class="text-success">
						<td>March 27 - 31</td>
						<td class="text-right">Family Teacher Conferences</td>
					</tr>
					<tr class="text-danger">
						<td>April 3 - 7</td>
						<td class="text-right">Spring Break</td>
					</tr>
					<tr class="text-primary">
						<td>May 12</td>
						<td class="text-right">Mother's Day Brunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>May 29</td>
						<td class="text-right">Memorial Day</td>
					</tr>
					<tr class="text-danger">
						<td>May 30</td>
						<td class="text-right">Staff Development Day</td>
					</tr>
					<tr class="text-success">
						<td>TDB (Spring)</td>
						<td class="text-right">Hidden Villa Field Trip</td>
					</tr>
					<tr class="text-primary">
						<td>June 9</td>
						<td class="text-right">Dad's Day Lunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-primary">
						<td>June 16</td>
						<td class="text-right">Graduation Ceremony (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>June 19 - July 4</td>
						<td class="text-right">Summer Break (closed)</td>
					</tr>
					<tr class="text-danger">
						<td>August 21 - 25</td>
						<td class="text-right">Staff Development Week (closed)</td>
					</tr>
					<tr>
						<td>August 28</td>
						<td class="text-right">Fall 2017 Semester Begins</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>