<div class="container">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<h1 class="text-center">Events and Calendar</h1>
		<p>Observations for new student registration take place on Monday and Thursday mornings from September through February. New student applications are due by March 1, 2014. Observations for summer 2014 will take place Monday and Thursday mornings from March - June.</p>

		<h2>2016-2017 Calendar</h2>

		<p>Highland Montessori follows the San Mateo public school calendar. <a href="#">Download our calendar.	</a></p>

		<p> <span class="text-danger">Red = Closed</span> | <span class="text-success">Green = Events</span> |  <span class="text-primary">Blue = Early Dismissal Days &#38; Late Start Days</span</p>
		<div class="embed-responsive embed-responsive-4by3 col-xs-12 text-center">
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i8cgrhd4ke3leqf7etn5usf1fc%40group.calendar.google.com&amp;color=%235229A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
		</div>
		
		<!-- <div class="table-responsive">
			<table class="table table-hover" style="height: 100%;" border="0" cellspacing="0" cellpadding="0" width="500">
				<tbody>
					<tr>
						<td style="text-align: left;" colspan="3">
							<h3><strong>2016</strong></h3>
						</td>
					</tr>
					<tr class="text-danger">
						<td>September 5<br /></td>
						<td>&nbsp;</td>
						<td>Labor Day</td>
					</tr>
					<tr class="text-success">
						<td>September 14<br /></td>
						<td>&nbsp;</td>
						<td>Back to School Night (Parents Only 6 pm - 8 pm)</td>
					</tr>
					<tr class="text-success">
						<td>September 23<br /></td>
						<td>&nbsp;</td>
						<td>Picture Day (9 am)</td>
					</tr>
					<tr class="text-danger">
						<td>October 10<br /></td>
						<td>&nbsp;</td>
						<td>Columbus Day</td>
					</tr>
					<tr class="text-primary">
						<td>October 21<br /></td>
						<td>&nbsp;</td>
						<td>United Nations Dinner (3:30 dismissal)</td>
					</tr>
					<tr class="text-success">
						<td>October 26></td>
						<td>&nbsp;</td>
						<td>Arata Farms Field trip (9:30 am)</td>
					</tr>

					<tr class="text-primary">
						<td>October 31<br /></td>
						<td>&nbsp;</td>
						<td>Halloween (3:30 dismissal)</td>
					</tr>
					<tr class="text-primary">
						<td>November 1</td>
						<td>&nbsp;</td>
						<td>Pizza Lunch (12:30 arrival)</td>
					</tr>
					<tr class="text-danger">
						<td>November 10</td>
						<td>&nbsp;</td>
						<td>Staff Development Day</td>
					</tr>
					<tr class="text-danger">
						<td>November 11</td>
						<td>&nbsp;</td>
						<td>Veteran's Day</td>
					</tr>
					<tr class="text-success">
						<td>November 14-16</td>
						<td>&nbsp;</td>
						<td>Family Teacher Conferences</td>
					</tr>
					<tr class="text-primary">
						<td>November 23</td>
						<td>&nbsp;</td>
						<td>Thanksgiving Lunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>November 14 - 25</td>
						<td>&nbsp;</td>
						<td>Thanksgiving Break</td>
					</tr>
					<tr class="text-primary">
						<td>December 23</td>
						<td>&nbsp;</td>
						<td>Winter Performance (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>December 23 - January 9</td>
						<td>&nbsp;</td>
						<td>Winter Break (resume Tuesday, January 10)</td>
					</tr>
					<tr>
						<td style="text-align: left;" colspan="3">
						<h3><strong>2017</strong></h3>
						</td>
					</tr>
					<tr class="text-danger">
						<td>January 16</td>
						<td>&nbsp;</td>
						<td>Martin Luther King Day</td>
					</tr>
					<tr class="text-danger">
						<td>February 20</td>
						<td>&nbsp;</td>
						<td>Presidents Day</td>
					</tr>
					<tr class="text-success">
						<td>March 27 - 31</td>
						<td>&nbsp;</td>
						<td>Family Teacher Conferences</td>
					</tr>
					<tr class="text-danger">
						<td>April 3 - 7</td>
						<td>&nbsp;</td>
						<td>Spring Break</td>
					</tr>
					<tr class="text-primary">
						<td>May 12</td>
						<td>&nbsp;</td>
						<td>Mother's Day Brunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>May 29</td>
						<td>&nbsp;</td>
						<td>Memorial Day</td>
					</tr>
					<tr class="text-danger">
						<td>May 30</td>
						<td>&nbsp;</td>
						<td>Staff Development Day</td>
					</tr>
					<tr class="text-success">
						<td>TDB (Spring)</td>
						<td>&nbsp;</td>
						<td>Hidden Villa Field Trip</td>
					</tr>
					<tr class="text-primary">
						<td>June 9</td>
						<td>&nbsp;</td>
						<td>Dad's Day Lunch (12:30 dismissal)</td>
					</tr>
					<tr class="text-primary">
						<td>June 16</td>
						<td>&nbsp;</td>
						<td>Graduation Ceremony (12:30 dismissal)</td>
					</tr>
					<tr class="text-danger">
						<td>June 19 - July 4</td>
						<td>&nbsp;</td>
						<td>Summer Break (closed)</td>
					</tr>
					<tr class="text-danger">
						<td>August 21 - 25</td>
						<td>&nbsp;</td>
						<td>Staff Development Week (closed)</td>
					</tr>
					<tr>
						<td>August 28</td>
						<td>&nbsp;</td>
						<td>Fall 2017 Semester Begins</td>
					</tr>
				</tbody>
			</table>
		</div> -->
	</div>
</div>