<h2>Contact Highland Montessori</h2>

<p>Observation time slots for the current application period are now full. Families interested in being added to a wait list for future observations and enrollment for the 2016-2017 school year can email the school directly using the subject line: WAIT LIST OBSERVATION. Please include your name and phone number, your child's name, age and gender, and the requested start date.
</p>

<fieldset>
	<div>
		<label for="name">Your Name:</label>
		<input id="name" class="type_text" type="text" name="name" value="" />
	</div>
	<div>
		<label for="email">E-Mail:</label>
		<input id="email" class="type_text" type="text" name="email" value=""/>
	</div>
	<div>
		<label for="subject">Subject:</label>
		<input id="subject" class="type_text" type="text" name="subject" value="" />
	</div>
	<div>
		<label for="message">Message:</label>
		<textarea id="message"></textarea>
	</div>
	<input type="submit" name="Submit">
</fieldset>

