<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">Contact Highland Montessori</h2>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-1 col-xs-0"></div>
		<div class="col-md-10 col-xs-12 text-center">
			<p>Families interested in tours and being added to our 2017- 2018 wait list can email the school directly using the subject line: Tour Request. </p>
			<p>Please include your name and phone number, your child's name, age and gender, and the requested start date.</p>
		</div>
	</div>
	<form ng-submit="create()">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="firstName">First Name:</label>
					<input type="text" class="form-control" ng-model="contact.firstName">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="lastName">Last Name:</label>
					<input type="text" class="form-control" ng-model="contact.lastName">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="phoneNumber">Mobile Number:</label>
					<input type="text" class="form-control" ng-model="contact.phoneNumber	">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" class="form-control" ng-model="contact.email">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="subject">Subject:</label>
					<input type="text" class="form-control" ng-model="contact.subject">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="message">Comment:</label>
					<textarea class="form-control" rows="5" ng-model="contact.message"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
				<button ng-click="submit" class="btn btn-default">Submit</button>	
		</div>
	</form>

	
</div>





