<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">Contact Highland Montessori</h2>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-1 col-xs-0"></div>
		<div class="col-md-10 col-xs-12 text-center">
			<p>Families interested in tours and being added to our 2017- 2018 wait list can email the school directly using the subject line: Tour Request. </p>
			<p>Please include your name and phone number, your child's name, age and gender, and the requested start date.</p>
		</div>
	</div>
	<p class="text-right"><small><em>*Required field</em></small></p>
	<form class="contactForm" name="contactForm" ng-submit="create(contactForm.$valid)" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.firstName.$invalid && !contactForm.firstName.$pristine }">
					<label for="firstName">First Name*:</label>
					<input type="text" name="firstName" id="firstName" class="form-control" ng-model="contact.firstName" required>
					<p ng-show="contactForm.firstName.$invalid && !contactForm.firstName.$pristine" class="help-block error">Your first name is required.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.lastName.$invalid && !contactForm.lastName.$pristine }">
					<label for="lastName">Last Name*:</label>
					<input type="text" name="lastName" id="lastName" class="form-control" ng-model="contact.lastName" required>
					<p ng-show="contactForm.lastName.$invalid && !contactForm.lastName.$pristine" class="help-block error">Your last name is required.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.phoneNumber.$invalid && !contactForm.phoneNumber.$pristine && contactForm.phoneNumber.$error.minlength }">
					<label for="phoneNumber">Mobile Number*:</label>
					<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" ng-model="contact.phoneNumber" ng-minlength="7" required>
					<p ng-show="contactForm.phoneNumber.$invalid && !contactForm.phoneNumber.$pristine" class="help-block error">Enter a valid phone number.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
					<label for="email">Email address*:</label>
					<input type="email" name="email" id="email" class="form-control" ng-model="contact.email" required>
					<p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block error">Enter a valid email.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.subject.$invalid && !contactForm.subject.$pristine }">
					<label for="subject">Subject*:</label>
					<input type="text" name="subject" id="subject" class="form-control" ng-model="contact.subject" required>
					<p ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine" class="help-block error">Please enter a subject.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
					<label for="message">Comment*:</label>
					<textarea class="form-control" name="message" id="message" rows="5" ng-model="contact.message" required></textarea>
					<p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block error">Please enter a message.</p>
				</div>
			</div>
		</div>
		<label for="address">for screen readers please leave this field blank:</label>
		<input type="text" id="address" name="address" class="form-control" ng-model="contact.address">
		<div class="row">
				<button ng-click="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>	
		</div>
	</form>

	
</div>





