<div class="container">
	<h2>Our Curriculum</h2>

	<p>Highland Montessori is a warm, caring, multi-age community where children can make friends in a calm setting, develop their sense of independence, strengthen their ability to concentrate, and maintain their sense of wonder about the world.</p>

	<p>The prepared environment of our Montessori program gives the child the opportunity and the freedom to achieve their potential. Our activities and routines are planned with a child’s sensitive periods and internal drives in mind, and are designed with internal controls of error so the need for adult correction becomes minimal. This allows the children to develop at their own pace; allowing them to develop concentration, self-discipline, self-motivation and self-confidence.</p>

	<p>Within a context of self-motivation and self-discipline, children are presented activities in the following major curriculum areas:</p>

	<p><strong>Practical Life - </strong>Practical Life activities help children develop daily life skills such as refining their motor skills and caring for themselves and their surroundings.</p>

	<p><strong>Sensorial - </strong> With the unique Montessori Sensorial materials, children work on such skills as visual and auditory discrimination which are necessary for future academic work.</p>

	<p><strong>Mathematics - </strong>The child first learns to count from 1 - 10 through the understanding that those numbers represent a specific amount. Through each material, the child will learn addition, subtraction, and then multiplication and division. This method of teaching, Montessori offers the child a strong and solid foundation in the understanding of mathematics.</p> 

	<p><strong>Language Arts - </strong>Our language curriculum teaches the child through a specific progression of lessons where they first become aware of the different sounds of the letters and sounds in a word. They are then taught the different “rules” in language, and the exceptions to those rules, in order to spell and read fluently.</p> 

	<p><strong>Multicultural - </strong>The science and geography activities in our multicultural are designed for the student to “put the world in the palm of his hand”.  Children work with maps, learn about various cultures around the world, celebrate similarities and differences, and ponder the beauty of the natural world.</p>

	<p><strong>Music and Movement - </strong>Gross motor development opportunities are provided daily both as part of a structured program and individual free choice throughout the day. Informal and formal music education occurs through daily singing and playing a variety of music. Every Monday is “Musical Monday” where students are introduced to instruments, basic music theory, exploration of sound and more.</p>

	<p><strong>Art - </strong>Children enjoy various creative and expressive art activities every day.</p>

	<p><strong>Outdoor Play Area - </strong> Highland Montessori has a unique and wonderful playground where are students spend ample time learning about their environment, how to play cooperatively, and having rich sensory experiences in our sandbox, water table, and garden.</p>
</div>