<div class="container">
		<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">Highland Montessori Daily Schedule</h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="table-responsive">
					<table class="table table-hover" style="height: 100%;" border="0" cellspacing="0" cellpadding="0" width="500">
						<tbody>
							<tr>
								<td>7:30am</td>
								<td >&nbsp;</td>
								<td>School Opens &#38; Morning Extended Care</td>
							</tr>
							<tr>
								<td>8:30am</td>
								<td>&nbsp;</td>
								<td>General Arrival</td>
							</tr>
							<tr>
								<td>8:45am-10:30am</td>
								<td>&nbsp;</td>
								<td>Morning Circle &#38; Montessori Curriculum</td>
							</tr>
		                    <tr>
								<td>10:30am</td>
								<td>&nbsp;</td>
								<td>Snack</td>
							</tr>
							<tr>
								<td>10:45 - 12:00</td>
								<td>&nbsp;</td>
								<td>Outside Play/Exploration</td>
							</tr>
							<tr>
								<td>12:00pm </td>
								<td>&nbsp;</td>
								<td>Lunch</td>
							</tr>
							<tr>
								<td>1:00-3:00pm</td>
								<td>&nbsp;</td>
								<td>REST (All Children)</td>
							</tr>
							<tr>
								<td>3:00pm</td>
								<td>&nbsp;</td>
								<td>Afternoon Circle</td>
							</tr>
							<tr>
								<td>3:30pm</td>
								<td>&nbsp;</td>
								<td>Snack</td>
							</tr>
							<tr>
								<td>3:45-5:30pm</td>
								<td>&nbsp;</td>
								<td>Afternoon Extended Care</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
<br>
<p>The above schedule is subject to change due to pre-planned special guests, or activities. Please see the front gate for any notices regarding a major schedule change for the day.</p>
<br>
<p>Children at Highland Montessori come to know the world through their senses, therefore the schedule includes long, uninterrupted times in the morning and afternoon for them to fully engage in dozens of colorful, exciting materials and activities.</p>
<br>
</div>