<div class="container">

	<h2>Is Your Child Developmentally Ready?</h2>

	<p>It is our goal to maximize your child’s chances of having a fun and successful experience at school! We hope this brief guide will help you determine if your child is ready to begin at Highland Montessori. Our program is designed for children between the ages of 3 and 5 years of age. All children are different, and some are developmentally ready to begin before 3, whereas others will be more successful if they wait until they are a little older. The following are examples of behaviors we see in children who are ready to begin our school. Here at Highland Montessori, we encourage you to thoughtfully consider if your child:</p>

	<p><ul>
		<li>Children should be comfortable using the toilet and be able to clean up and wash hands on their own. However, we understand that most 3 and 4 year olds have occasional accidents and we handle these in a relaxed and low-key manner.</li>
		<li>Your child should be able to sit at circle time and listen to stories and engage in activities.</li>
		<li>The child is able take out an activity, complete it, and put it away. Children who are too young for this type of classroom are easily distracted by other activities within sight. They will take out many activities, work on them for only a very short amount of time, move on to something else without putting the previous activities away, and refuse the assistance of a teacher.</li>
		<li>The children should be able to follow simple directions such as; lining up, putting on their coat, washing their hands. These things do not need to be done perfectly, but we will be looking for willingness to follow instructions.</li>
	</ul></p>
</div>
