<div class="container">
	<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
		<h3>Forms</h3>
			<!-- <h4>Here are the necessary forms to read and fill out for enrollment:</h4> -->
				<p><a href="./../pdfs/2016Registration.pdf" target="_blank">Tuition Fees &#38; Registration Forms</a></p>
				<p><a href="./../pdfs/emergencyForm.pdf" target="_blank">Emergency Form</a></p>
				<p><a href="./../pdfs/physiciansReport.pdf" target="_blank">Physician's Report</a></p>

					<h3>Parent Resources</h3>
						<p><a href="./../pdfs/2016ParentHandbook.pdf" target="_blank">2016-2017 Parent Handbook</a></p>
					
						<p><a href="./../pdfs/montessori.pdf" target="_blank">The Montessori Method</a></p>
				
						<p><a href="http://www.paceca.org" target="_blank">Professional Association for Childhood Education</a></p>		
					
						<p><a href="http://www.amshq.org" target="_blank">American Montessori Society</a></p>
						<p><a href="./../pdfs/lunchBrochure.pdf" target="_blank">Lunch Brouchure</a></p>					
	</div>
</div>

