
    <img src="./../../images/header.jpeg" class="full-banner">
    <div class="col-lg-12">
                    <h1 class="section-heading text-center welcome-message">Welcome to Highland Montessori</h1>
                    </div>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <p class="lead section-lead"><p>Thank you for your interest in our school! Highland Montessori is a beautiful little school nestled in a quiet neighborhood in San Mateo. For 34 years, Highland Montessori has provided a safe, nurturing, and engaging environment where each child is the educator and where teachers are guides through the process of discovery. In such an environment, we hope that each child can achieve his or her fullest potential and grow academically, socially, and emotionally. Highland Montessori offers a quality year-round preschool and kindergarten program in a loving and nurturing environment.</p>

                    <a href="#/admissionsprocess">Click here to learn more about our admissions process.</a>
                    <p>Sincerely,</p>
					<p> Alison Ottenweller (Director) &#38; Molly Walsh (Owner)</p>


                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- <aside class="image-bg-fixed-height"></aside> -->