<div class="container">
<h2>Our Staff</h2>

<div class="clearfix">
	<img src="./../../images/alisonOttenweller.jpeg" class="img-circle pull-left col-lg-3 col-md-4 col-sm-6 col-xs-12">

	<h4>Alison Ottenweller (Director)</h4>

	<p>Ms. Ottenweller has been teaching in various preschool and Kindergarten programs on the Peninsula for over 15 years. Being a Montessori graduate herself, she has a unique and special appreciation for the teaching practices and child development philosophies of Maria Montessori.</p>

	<p>Her Montessori background, combined with her experience in academic and play-based programs, contributes to Highland Montessori's unique and well-rounded curriculum.</p>

	<p>In addition to teaching, Ms. Ottenweller has a passion for cooking, loves to take her dog on hikes and backpacking trips, enjoys skiing in the winter, and water activities in the summer.</p>

	<em>"My passion in life is working with children and watching them learn new concepts as they grow into their own individual. My goal is to instill in them a curiosity and love of learning that will last a lifetime." </em>
</div>
<br>
<div class="clearfix">
	<img src="./../../images/mollyWalsh.jpeg" class="img-circle pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Molly Walsh (co-owner/assistant director)</h4>

	<p>Miss Walsh has been teaching at Highland Montessori for over five years, but her connection to the school began long before that. Highland was started by her mother (the original Mrs. Walsh) in 1982. Molly grew up spending summers and everyday after school helping her mom, working with children, and getting to know the Highland community. Miss Walsh is now finishing up her degree in Child and Adolescent Development at San Francisco State University with plans to start her master's degree in child development immediately after.</p>

	<em>“Highland Montessori is very special to me for so many reasons, I cannot imagine an environment more perfect for fostering academic, social, and emotional confidence in children. I am extremely proud of our team of teachers and know that my mom would be too.”</em>
</div>
<br>
<div class="clearfix">
	<img src="./../../images/jenniferGregoire.jpeg" class="img-circle pull-left col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Ms. Gregoire</h4>
	<p>Ms. Gregoire has been working in various schools and programs along the Peninsula for over 10 years. Along with her academic achievements in early childhood education, and previous experience in Montessori settings, Ms Gregoire also brings with her an extensive training in musical theatre and performing arts. She attributes her love of working with children to her mother, who has been in the field for over 30 years! She is so happy to be a part of the Highland team!<p>

	<p>In addition to her love of teaching, Ms. Gregoire’s passions include singing, theatre, film, spending time with her five rescued pets, outdoor adventures, traveling, and being with family.<p> 
	
	<em>“My strength as an educator has always been in fostering the social and emotional development of my students. It is so rewarding to watch each child find their confidence and build a strong set of social skills that will help them long after they leave here.”</em> 
	<p>-Jennifer</p>
</div>
<br>
<div class="clearfix">
	<img src="./../../images/rosieSanchez.jpeg" class="img-circle pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<h4>Ms. Rosie</h4>


	<p>Miss Rosie began working with children in 2014 along the South Bay. After receiving her credentials, she discovered her passion for working with children of all ages. Miss Rosie recently moved to the peninsula and became part of the Highland team were she is able to apply her values of teaching to provide a safe, academic and nurturing environment.</p>

	<p>In addition to teaching, Miss Rosie's passions include reading, dancing, hiking, spending time with loved ones and her two bunnies. </p>

	<em>"As an educator what is most rewarding about my job are the lasting bonds and emotional connections I am able to establish with my students."</em>
</div>
<br>
<img src="./../../images/staffPhoto.jpeg" class="img-rounded img-responsive">
</div>